.swiper{
    width: 600px;
    height: 300px;
    }
/* .swiper-container{
    height: 500px;
    .swiper-slide{
        background: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
    }
} */